.embla {
  margin: auto;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  min-width: 0;
}
